*{
    margin: 0%;
padding: 0%;}
/* BODY BACKGROUND */
body{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Manrope', sans-serif;
}



/* HEADER */
header{
    font-family: 'Manrope', sans-serif;
}



/* INDEX */

.Banner{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-bottom:  100px;
}

.IndexText1{
    display: flex;
    flex-direction: row;
       justify-content: flex-start;
    text-align: center;
    font-family: 'Manrope', sans-serif;
margin: 30px;}

.IndexText1 .ImgIndexText1{
    border: 5px black;
    border-radius: 20px;
    }
     
    .IndexText2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        font-family: 'Manrope', sans-serif;
        margin-top: 30px;}
    
        .IndexText3{
            display: flex;
    flex-direction: row;
       justify-content: flex-start;
       align-items: center;
    text-align: center;
    font-family: 'Manrope', sans-serif;
margin: 10px;}



/* GALERÍA */
.Txt1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin: 30px;
}


.GaleriaFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.GaleriaFlex .GaleriaImg1 img{
    margin: 30px;
    border: 5px black;
    border-radius: 20px;
}

.GaleriaFlex .GaleriaImg2 img{
    margin: 30px;
    border: 5px black;
    border-radius: 20px;
}

.GaleriaFlex .GaleriaImg3 img{
    margin: 30px;
      border: 5px black;
    border-radius: 20px;
}

.GaleriaFlex .GaleriaImg4 img{
    margin: 30px;
    border: 5px black;
    border-radius: 20px;
}

.GaleriaFlex .GaleriaImg5 img{
    margin: 30px;
    border: 5px black;
    border-radius: 20px;
}

.GaleriaFlex .GaleriaImg6 img{
    margin: 30px;
    border: 5px black;
    border-radius: 20px;
}

.GaleriaVideos{
            display: grid;
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
             "VIDEO1 VIDEO2"
             "VIDEO3 VIDEO4";
            justify-items: center;
            align-items: center;
            font-family: 'Manrope', sans-serif;
         }

        .VideoGaleria1{
            grid-area: "VIDEO1";
        }

        .VideoGaleria2{
            grid-area: "VIDEO2";
        }

        .VideoGaleria2{
            grid-area: "VIDEO3";
        }

        .VideoGaleria1{
            grid-area: "VIDEO4";
        }
    ----- 

    /* VER ONLINE */

    .IndexVerOnline{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Manrope', sans-serif;
        margin: 30px;
}


.TablaComparativaTxT{
    display: flex;
    flex-direction:row;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(0, 0, 76, 0.582);
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    margin: 30px;

}

.table{
    background-color: rgb(0, 0, 76, 0.582);
}

.TxtVerOnline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px rgb(0, 0, 0);
    border-style: groove;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 76, 0.582);
    text-decoration-line: none;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    margin: 30px;
}


.ListaRepro1{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end; 
        font-size: 25px;
                font-family: 'Manrope', sans-serif;
                margin: 30px;
}

.VidVerOnline{
    display: flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin: 30px;
}

.ListaRepro2{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end; 
        font-size: 25px;
        font-family: 'Manrope', sans-serif;
        margin: 30px;
    }
/*ACERCA DE*/

.TituloAcerca{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Manrope', sans-serif;
        margin: 60px;
    }

    .TituloAcerca h1{
        font-size: 70px;
    }

 

 .AcercaTxt{
    display: flex;     
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 35px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin: 60px;
    font-weight: bolder;
 }


 .AcercaRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      font-family: 'Manrope', sans-serif;
      text-align: center;
      margin: 120px;
 }

 .AcercaRedes .Facebook h3{
    margin: 60px;
 }
.AcercaRedes a{
    text-decoration: none;
      font-family: 'Manrope', sans-serif;
     }

     .AcercaRedes .Facebook img{
        border-radius: 20px;

     }

 
 .GpsLum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
      font-size: 25px;
      font-family: 'Manrope', sans-serif;
 }

 .GpsLum iframe{
    border-radius: 30px;

 }








/* FOOTER */

.BotonVolver {
    position: fixed;
    top: 0; 
    height: 50px;
    padding: 0.5em; 
    }

.BotonVolver li a{
    border: 5px rgb(240, 186, 39);
    border-style: groove;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-decoration-line: none;
    font-size: 25px;
}

.BotonSubir{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .BotonSubir .hvr-float .button{
        font-family: 'Manrope', sans-serif;
    }



/*MEDIA QUERIES*/ 

@media only screen and (max-width: 768px) {
/* HEADER MOBILE*/
header .Banner .BannerMobile{
    display: none;
}
.TituloIndexMob{
    display: none;
}
}

@media only screen and (max-width: 576px){

    /*HEADER MOBILE*/
    .TituloIndex{
        display: none;
    }

    .Banner img{
        display: none;
    }

    header .Banner .BannerMobile{
        display: block;
        background-color: hsl(180deg 66% 53%) 0%,
        hsl(202deg 100% 38%) 49%,
        hsl(267deg 85% 23%) 100%;
        width: 200px;
        height: 200px;
     }
    
    .TituloIndexMob{
        display: block;
        flex-direction: row;
    justify-content: center;
    color: aliceblue; 
    align-items: flex-end; 
    font-size: 70px;
    text-shadow: -2px -2px 1px rgb(240, 186, 39), 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    }
     /*INDEX*/

    .IntroduccionIndex{
        flex-direction: column;
    }



    /*GALERÍA MOBILE*/

    .Galeria{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .GaleriaVideos{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0;
    }
   /*ACERCA MOBILE*/
   .TituloAcerca h1{
    flex-direction: column;
    justify-content: space-between;
   }

   .AcercaTxt{
    flex-direction: column;
    align-content: flex-end;
    font-size: 20px;
   }

    .AcercaRedes{
        flex-direction: column;
    }


    

}




